   .banner h1 {
       text-align: center;
       margin-top: 15px;
   }
   
   .story,
   .my_work {
       display: flex;
       justify-content: space-between;
       width: 90%;
       margin: auto;
       padding: 80px 0px;
   }
   
   .story_description,
   .work_description {
       width: 50%;
   }
   
   .story_description h3,
   .work_description h3 {
       font-size: 25px;
       padding-bottom: 30px;
   }
   
   .story_description p,
   .work_description p {
       padding: 20px 0px;
   }
   
   .work_gallery {
       display: grid;
       grid-template-columns: repeat(3, 200px);
   }
   
   .work_gallery img {
       width: 100%;
   }
   
   @media (max-width: 1024px) {
       .story,
       .my_work {
           flex-direction: column;
       }
       .story_description,
       .work_description {
           width: 100%;
       }
       .work_gallery {
           display: grid;
           grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
       }
       .profile {
           padding-top: 30px;
           text-align: center;
       }
       .profile img {
           width: 100%;
       }
   }